# macOS
.DS_Store

# CubeMX generated project files
*.ioc
*.mxproject

# Build output
*.o
*.d
*.map
*.lst
*.elf
*.hex
*.bin
*.axf
*.crf
*.lnp

# STM32 CubeMX
/STM32/Drivers/
/MDK-ARM/
/Middlewares/

# for update user_diskio.c
#/STM32/FATFS/